.col, .row{
  margin: 0;
  padding: 0;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 750px;
    width: 100%;
}

header{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  /* max-width: 1170px; */
  margin-left: 10%;
  margin-right: 10%;
}

.fixedHeader{
  position: fixed;
  background-color: #1b1e32;
  opacity: 1;
  z-index: 11;
  padding: 20px 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
}

#wrap1, #wrap2, #wrap3, #wrap4, #wrap5, #wrap6, #wrap7, #wrap8{
  height: 100%;
  width: 100%;
  background-color: rgba(232, 16, 16, 0.82);
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 20%;
}

.img-responsive{
  position: relative;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-top: 15px;
}

nav ul li{
  margin-left: 50px;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  nav ul li{
    margin-left: 25px;
  }
}

@media (min-width: 1080px) {
  nav ul li{
    margin-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 900px){
  header{
    margin-left: 5%;
    margin-right: 5%;
  }

  nav ul{
    padding-left: 0;
  }

  nav ul li{
    margin-left: 20px;
  }
}

nav ul li a{
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  display: block;
  min-width: 70px;
  text-align: center;
}

nav ul li a:hover{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.togle{
  display: none;
}

@media (max-width: 768px){
  nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
  }

  header{
    position: relative;
    position: fixed;
    background-color: #1b1e32;
    opacity: 1;
    z-index: 11;
    padding: 20px 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
  .togle{
    display: block;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    background-color: #1b1e32;
    padding-bottom: 15px;
  }

  nav ul li{
    padding: 10px 0;
    background-color: #1b1e32;
    color: #fff;
    margin-left: 0;
    margin-top: 0;
  }
  nav ul li a{
  color: #ffffff;

  }
}

.togle i{
  font-size: 24px;
  color: #fff;
}

.text-center{
  text-align: center;
}

.banner__text{
  padding-top: 10%;
}

@media (min-width: 601px) and (max-width: 768px){
  .banner{
    height: 600px;
  }

  .banner__text{
    padding-top: 15%;
  }

  .banner__text h1{
    font-size: 50px !important;
  }
}

.banner__text h1{
  font-size: 65px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner__text p{
  font-size: 22px;
  color: #fff;
  margin-bottom: 80px;
}

.banner__text a{
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;
  transition: .3s;
}

.banner__text a:hover{
  background-color: #e32d2d;
  color: #fff;
  transition: .3s;
}




.wrap__block-row{
  padding: 120px 0 120px 0;
}

.wrap__block-row h2{
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: bold;
  color: #2d3033;
}

.wrap__block-row p{
  color: #6c7279;
  font-size: 14px;
}

.wrap__foto{
  width: 100%;
}

.wrap__foto .row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.wrap__foto .foto{
  padding-right: 0 !important;
  padding-left: 0 !important;
  /*height: 250px;*/
}

.wrap__team{
  margin-top: 100px;
  margin-bottom: 100px;
}

.wrap__team h2{
  font-size: 22px;
  color: #2d3033;
}

.wrap__team h3{
  font-size: 13px;
  color: #e84545;
  margin-bottom: 30px;
  margin-top: 0;
}

.wrap__team p{
  font-size: 14px;
  color: #6c7279;
}

.wrap__team .social i{
  border: 1px solid silver;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
  color: silver;
  transition: .3s;
}

.wrap__team .social i:hover{
  color: #e84545;
  border: 1px solid #e84545;
  transition: .3s;
  cursor: pointer;
}

.wrap-slider{
  background-color: #53354a;
}

.wrap-slider .col{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.text-slider{
  padding-top: 70px;
  padding-left: 100px;
}

.text-slider h2{
  color: #fff;
  font-size: 36px;
  font-family: Cardo;
  font-style: italic;
  padding-bottom: 20px;
}

.text-slider p{
  color: #fff;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
}

.ready__block{
  padding: 70px 0 70px 0;
}

.ready__block h2{
  color: #2d3033;
  font-family: Raleway;
  font-size: 28px;
}

.ready__block p{
  color: #2d3033;
  font-family: Raleway;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 40px;
}

.ready__block a{
  padding: 15px 75px;
  background-color: #e84545;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;
  transition: .3s;
}

.ready__block a:hover{
  background-color: #e32d2d;
  color: #fff;
  transition: .3s;
}

.wrap__info{
  background-color: #3a3e64;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap__info h3{
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrap__info p{
  font-family: Raleway;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.wrap__info .social i{
  border: 2px solid silver;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
  color: silver;
  transition: .3s;
}

.wrap__info .social i:hover{
  color: #e84545;
  border: 2px solid #e84545;
  transition: .3s;
  cursor: pointer;
}

.wrap__copyright{
  height: 90px;
  background-color: #313454;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap__copyright p{
  margin-bottom: 0;
}

.wrap__copyright p span{
  color: #fff;
}



@media (max-width: 600px) {
  .banner{
    height: 650px;
  }

  .banner__text{
    padding-top: 10em;
  }

  .banner__text h1{
    font-size: 45px;
  }
}

@media (max-width: 1002px){
  .wrap__foto > div{
    margin: 0 auto !important;
    width: 100%;
  }

 .wrap__team{
  margin-top: 30px;
  margin-bottom: 30px;
 }

  .wrap__team .social{
    margin-bottom: 20px;
  }

  .foto img{
    width: 100%;
    margin: 0 auto;
  }

  .wrap__team > div{
    text-align: center;
  }
}
@media (max-width: 1002px){
  .text-slider{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px){
  .wrap__block-row {
    padding: 20px 0 20px 0;
  }

  .wrap__block-row h2{
    padding-top: 10px;
  }

  .wrap__team{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .wrap__team .social{
    margin-bottom: 20px;
  }

  .wrap-slider{
    margin-top: -10px;
  }

  .foto img{
    width: 100%;
  }
}

@media (max-width: 450px) {
  .banner__text{
    padding-top: 8em;
  }

  .wrap__info{
    height: 310px;
  }

  .text-slider h2{
    font-size: 28px;
  }

  .text-slider p{
    font-size: 16px;
  }

  .banner__text h1{
    font-size: 30px;
  }

  .banner{
    height: 600px;
  }
}

@media (min-width: 1002px){
  .wrap__team img{
    width: 100%;
  }

  .foto{
    height: 230px;
  }

  .foto img{
    height: 100%;
  }
}

.foto > div p{
  color: #fff;
  text-align: center;
  font-size: 20px;
}
